<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092230170530-ailqrr8dp34jvirb7166afdq8bbf7c15.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092230170530-ailqrr8dp34jvirb7166afdq8bbf7c15</string>
	<key>API_KEY</key>
	<string>AIzaSyDMrZPUF09uVAUhJGgZL2X-Afm3JS9EL-A</string>
	<key>GCM_SENDER_ID</key>
	<string>1092230170530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ismmartVms</string>
	<key>PROJECT_ID</key>
	<string>ismmart-vms</string>
	<key>STORAGE_BUCKET</key>
	<string>ismmart-vms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092230170530:ios:08465a8d6f9fdbb95a14fb</string>
</dict>
</plist>